/* DESKTOP VERSION */

.container {
	width: 1000px;
	margin: 0 auto;
	font-family: 'Arvo', serif;
	color: #373a6d;
}

.container .FF {
	width: 175px;
	height: 65px;
	display: block;
 	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;  
}

/* HEADER */

header {
	display: flex;
}

header nav {
  width: 1000px;
  vertical-align: top;
  margin-top: 25px;
  margin-bottom: 25px;
}

header nav a {
  margin: 60px;
  font-size: 16px;
  text-decoration: none;
  color: #373a6d;
}

/* MAIN CONTENT */

.main-content .text-content {
	width: 500px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 18px;
	text-align: center;
}

.main-content .regular-content {
	display: flex;
	margin-bottom: 50px;
}

.main-content .reverse-content {
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 50px;
}

.main-content .main-img {
	width: 500px;
	height: 325px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 25px;
}

.main-content .fact-content {
	display: flex;
	width: 1000px;
}

.main-content .fact-content ul {
	margin-top: 100px;
}

.main-content .fact-content li {
	width: 340px;
	font-style: italic;
	font-size: 22px;
	margin-top: 50px;
}

.main-content .fact-content p {
	color: #f16821;
	font-size: 28px;
	text-align: center;
	margin-top: 100px;
	font-style: bold;
}


button {
	color: white;
	background-color: #6fc2d0;
    width: 150px;
    height: 75px;
    border-radius: 10px;
    text-align: center;
	font-size: 24px;
	font-family: 'Arvo', serif;
	display: block;
 	margin-left: auto;
    margin-right: auto;
	margin-bottom: 25px;
	text-decoration: none;
}

.main-content .text-content {
    border: 2px dashed;
    border-radius: 25px;
    padding: 10px;
}

.infographic-img {
	margin-top: 25px;
	width: 600px;
	height: 600px;
	padding-bottom: 25px;
}

/* FOOTER */

footer {
	margin-top: -25px;
	display: flex;
	color: #373a6d;
	font-family: 'Arvo', serif;
	width: 1000px;
	margin-left: 580px;
	margin-bottom: 50px;
	text-align: center;
}

/* MOBILE VERSION */
@media (max-width: 500px) {
	.container {
		width: 500px;
	}

	header nav {
		width: 480x;
		vertical-align: top;
		margin-top: 25px;
	}

	header nav a {
		margin: 8px;
		font-size: 16px;
		text-decoration: none;
		color: #373a6d;
	}

	.main-content .top-content {
		display: flex;
		flex-direction: column;
		padding: 15px;
		margin-bottom: 0.01px;
	}

	.main-content .main-img {
		display: none;
	}

	.main-content .fact-content {
		width: 460px;
	}

	span {
		margin-top: 240px;
		margin-bottom: -175px;
		transform: rotate(90deg);
	}

	.main-content .infographic {
		display: flex;
		flex-direction: column;
		width: 485px;
		margin-left: 0.01px;
	}

	.main-content .infographic-img {
		display: none;
	}

	footer {
	margin-top: -25px;
	display: flex;
	color: #373a6d;
	font-family: 'Arvo', serif;
	width: 500px;
	margin-left: 125px;
	text-align: center;
	}

	body {
        background: -webkit-linear-gradient(left, #f16821, #e8e2db);
        background: linear-gradient(to right, #f16821, #e8e2db);
	}
	
	.main-content .fact-content p {
		color: #373a6d;
		margin-left: 75px;
	}

	.main-content .fact-content li {
		margin-left: 65px;
		text-align: center;
	}

	.main-content .fact-content ul {
		margin-top: 50px;
	}
}


  







